[include]
	path = ~/Documents/21_programming/git/gitconfig-sglavoie

[alias]
	a = add
	br = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cannv = commit --amend --no-edit --no-verify
	cnv = commit --no-verify
	ch = checkout
	d = diff
	ds = diff --staged
	fpush = push --force-with-lease
	l = log

	; log graph (NO author)
	lg = l --color --graph --pretty=format:'%Cred%h%Creset \
-%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit

	; log graph (with author)
	lga = l --color --graph --pretty=format:'%Cred%h%Creset \
-%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	; log work descriptions in chronological order for today (oldest at top)
	lw = "!git log --oneline --pretty='%s' --after=`date -v -1d '+%Y-%m-%d'` | tac"

	ls = l --stat
	rc = rebase --continue
	ri = rebase -i
	s = status --short
	sh = show
	sl = shortlog

	; Save changes as a stash and leave them in the working tree
	stash-keep = "!git stash --include-untracked && git stash apply"

	unstage = reset HEAD --

[branch]
	sort = -committerdate

[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	status = auto
	ui = true

[column]
	ui = auto

[commit]
	gpgsign = true
	template = ~/.gitmessage
	verbose = true

[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta
	autocrlf = input
	ignorecase = true

[credential]
	helper = store

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[fetch]
	all = true
	prune = true
	pruneTags = true
	writeCommitGraph = true

[gpg]
	format = ssh

[grep]
	patternType = perl

[help]
	autocorrect = prompt

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[mergetool]
  prompt = false

[pull]
	rebase = false
	ff = only

[push]
	autoSetupRemote = true
	recurseSubmodules = on-demand
	default = current

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[rerere]
	autoUpdate = true
	enabled = true

[tag]
	sort = version:refname


; Git LFS

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


; Visual improvements with Delta

[delta]
	true-color = always
	line-numbers = true
	navigate = true    # use n and N to move between diff sections
	features = decorations
	side-by-side = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-style = file syntax

