(
	command_fg: Some("White"),
	selection_bg: Some("Blue"),
	selection_fg: Some("White"),
	cmdbar_bg: Some("Blue"),
	cmdbar_extra_lines_bg: Some("Blue"),
	disabled_fg: Some("Yellow"),
	diff_line_add: Some("Green"),
	diff_line_delete: Some("Red"),
	diff_file_added: Some("LightGreen"),
	diff_file_removed: Some("LightRed"),
	diff_file_moved: Some("LightMagenta"),
	diff_file_modified: Some("Yellow"),
	commit_hash: Some("Magenta"),
	commit_time: Some("LightCyan"),
	commit_author: Some("Green"),
	danger_fg: Some("Red"),
	push_gauge_bg: Some("Blue"),
	push_gauge_fg: Some("Reset"),
	tag_fg: Some("LightMagenta"),
	branch_fg: Some("LightYellow")
)
